:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* global roles */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    text-align: center;
    font-size: 100px;
    color: #ebeced;
    font-weight: 800;
    letter-spacing: -5px;

}
.special-heading + p {

}

/* star nav */
nav {
    padding: 0 20px;
    height: 0;
    position: relative;
    z-index: 1;
    top: 20px;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 60px;
}
nav .links .bars {
    display: none;
}
nav .links ul{
    display: flex;
    list-style: none;
}

nav .links ul li{
    margin-left: 20px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
nav .links ul li a{
    text-decoration: none;
    color: #000;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
@media (min-width:768px) {
    nav .links ul li:hover{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
    nav .links ul li a:hover{
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
        padding-bottom: 10px;
    }

}
@media (max-width: 767px) {
    nav .links {
        position: relative;
    }
    nav .links ul{
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        z-index: 1;
    }
    nav .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }
    nav .links ul li {
        margin-left: 0;
    }
    nav .links ul li a{
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #333;
        transition: var(--main-duration);
    }
    nav .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;
    }
    nav .links ul li a:hover{
        padding-left: 25px;
        color: var(--main-color);
    }
    nav .links .bars {
        display: block;
    } 
    nav .links:hover ul {
        display: block;
    } 

}
/* end nav */
/* start landing */
.landing {
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
    margin: 0;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
}
/* start landing */
/* start features */
.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat svg {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* end features */
/* start Services */
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.services .col {
    
}
.services .col .serv {

}
.services .col .serv i {

}
.services .col .serv .text {

}
.services .col .serv .text h3 {

}
.services .col .serv .text p {

}

/* end Services */

